<h2>Projektin muokkaus</h2>

<%= render 'form' %>

<%= link_to 'Näytä', @project %> |
<%= link_to 'Takaisin', projects_path %>

<% content_for :header do %>
    <%= "Projekti: #{@project.name}" %>
<% end %>