<% content_for :header do %>
    Ilmottautumisnäkymä
<% end %>

<% unless @enrollments.first.nil? %>

<table id="enrollmenttable">
    <tr>
      <th>
        Opiskelija
      </th>
      <% @projects.each do |project| %>
        <th>
          <%= project.name %>
        </th>
      <% end %>
      <th>
        Hyväksyttyjen lukumäärä
      </th>
      <% @enrollments.each do |enrollment| %>

        <tr>
            <td>
                <%= enrollment.name %>
            </td>
            <% @projects.each do |project| %>
                <td>
                  <%= enrollment.signups.find_by(project_id:project.id).priority unless enrollment.signups.find_by(project_id:project.id).nil? %>
                </td>
            <% end %>
            <td>
                <%= enrollment.acceptedAmount %>
            </td>
        </tr>
      <% end %>
    </tr>
</table>

<% else %>
    <h2>Ei ilmottautumisia.</h2>
<% end %>