<% content_for :header do %>
    ... work in progress ...
<% end %>

<table id="enrollmenttable">
    <tr>
      <th>
        Opiskelija
      </th>
      <% @projects.each do |project| %>
        <th>
          <%= project.name %>
        </th>
      <% end %>
      <th>
        Hyv채ksyttyjen lukum채채r채
      </th>
      <% @enrollments.each do |enrollment| %>

        <tr>
            <td>
                <%= enrollment.name %>
            </td>
            <% @projects.each do |project| %>
                <td>
                  <%= enrollment.signups.find_by(project_id:project.id).priority unless enrollment.signups.find_by(project_id:project.id).nil? %>
                </td>
            <% end %>
            <td>
                <%= enrollment.acceptedAmount %>
            </td>
        </tr>

      <% end %>
    </tr>
</table>