/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

 /* Kenties koko ohjelmaan yleistettävää ccs:ää
 */

body {
    background-color: #336699;
}
h1, h2 {
    padding: 10px;
}

.subdiv {
    background-color: #FFFFFF;
    max-width: 100%;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    padding: 10px;
    padding-left: 5px;
}

#topheader {
    display: inline-block;
    margin-top: 35px;
}

#headerlogo {
    display: inline-block;
    float: right;
    margin-right: 15px;
}

.header {
    height: 111px;
    font-size: 14px;
    background-color: #FFFFFF;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    margin-bottom: 10px;
    padding: 5px;
}

.formtable {
    position: relative;
}

.content {
    background-color: rgb(47, 99, 148);
    padding: 20px;
    padding-top: 5px;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
}

#enrollmenttable {
    border-collapse: collapse;
    border: 1px solid black;
}

.tableSummary {
    background-color: #dcdcdc;
}

#enrollmenttable td {
    text-align: center;
    border: 1px solid black;
    border-collapse: collapse;
}


.prioritycell {
    border-collapse: collapse;
}

.note {
    background-color: violet;
}

.forced {
    background-color: orangered;
}

.accepted {
    background-color: lightgreen;
}

.legend {
   border: 1px solid black;
}

.legend.forced {
    background-color: orangered;
}

.legend.accepted {
    background-color: lightgreen;
}

.legend.note {
    background-color: violet;
}


li {
    list-style: none;
}

span.tooltip {
    position: absolute;
    width: 100px;
    height: 20px;
    line-height: 20px;
    padding: 10px;
    font-size: 14px;
    text-align: center;
    color: rgb(113, 157, 171);
    background: rgb(255, 255, 255);
    border: 4px solid rgb(255, 255, 255);
    border-radius: 5px;
    text-shadow: rgba(0, 0, 0, 0.1) 1px 1px 1px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 1px 2px 0px;
}

span.tooltip:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-width: 10px;
    border-style: solid;
    border-color: #FFFFFF transparent transparent transparent;
    top: 44px;
    left: 50px;
}

nav ul {
    background-color: #ffffff;
    background: linear-gradient(top, #ffffff 0%, #C8C8C8 100%);
    background: -moz-linear-gradient(top, #ffffff 0%, #C8C8C8 100%);
    background: -webkit-linear-gradient(top, #ffffff 0%, #C8C8C8 100%);
    box-shadow: 0px 0px 9px rgba(0,0,0,0.15);
    padding: 0 20px;
    margin-left: 20px;
    border-radius: 10px;
    list-style: none;
    position: relative;
    display: inline-table;
}

nav ul:after {
    content: ""; clear: both; display: block;
}

nav ul li {
    float: left;
}
nav ul li:hover {
    background: #4b545f;
    background: linear-gradient(top, #4f5964 0%, #5f6975 40%);
    background: -moz-linear-gradient(top, #4f5964 0%, #5f6975 40%);
    background: -webkit-linear-gradient(top, #4f5964 0%,#5f6975 40%);
}
nav ul li:hover a {
    color: #fff;
    background-color: #B8B8B8;
}

nav ul li a {
    display: block; padding: 25px 40px;
    color: #757575; text-decoration: none;
}


nav ul ul {
    display: none;
    background: #5f6975; border-radius: 0px; padding: 0;
    position: absolute; top: 100%;
}

nav ul ul li {
    float: none;
    border-top: 1px solid #6b727c;
    border-bottom: 1px solid #575f6a;
    position: relative;

}
nav ul ul li a {
    padding: 15px 40px;
    color: #fff;
    background-color: #000000;

}
nav ul ul li a:hover {
    background: #5f6975;
}

    nav ul li:hover > ul {
        display: block;
    }


.alert {
    color: red;
}